{% load static %}
<div class="container parent">
    <div class="row ">
      <div class="col-3">
        <div class="row">
          <img class="question-img" src="{% static "img/profile.png" %}"></img>
        </div>
      </div>
      <div class="col-9">
          <div class="row">
            <div class="question-title" style="margin-left: -16px;">
              <a class="nav-link" href="{% url 'question' question.id %}">
                {{ question.title }}
              </a>
            </div>
          </div>
          <div class="question-text row">
            {{ question.text }}
          </div>
          <div class="row child">
            <div class="col-8">
              <div class="question-tags">
                Tags: {% for tag in question.tags.all %} 
                          <a href="{% url 'tag' tag %}">{{ tag }}</a> 
                      {% endfor %}
              </div>
            </div>
            <div class="col-2">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-danger" style="padding-top: 0px; padding-bottom: 0px;">Dislike</button>
                <button type="button" class="btn btn-secondary" style="padding-top: 0px; padding-bottom: 0px;">{{ question.like.count }}</button>
                <button type="button" class="btn btn-success" style="padding-top: 0px; padding-bottom: 0px;">Like</button>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>