{% load static %}
<div class="container parent">
  <div class="row question-box">
    <div class="col-3">
      <div class="row">
        <img class="question-img" src="{{ question.author.avatar.url }}"></img>
      </div>
      <div class="row">
        <div class="btn-group box-qst" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-danger js-vote" style="padding-top: 0px; padding-bottom: 0px;" data-action="dislike" data-qid="{{ question.pk }}">Dislike</button>
          <button type="button" class="btn btn-secondary js-rating" style="padding-top: 0px; padding-bottom: 0px;">{{ question.like }}</button>
          <button type="button" class="btn btn-success js-vote" style="padding-top: 0px; padding-bottom: 0px;" data-action="like" data-qid="{{ question.pk }}">Like</button>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="question-title">
          <a class="nav-link" href="{% url 'question' question.id %}">
            {{ question.title }}
          </a>
        </div>
      </div>
      <div class="row">
        <div class="question-text">{{ question.text }}</div>
      </div>
      <div class="row child">
        <div class="col-10">
          <div class="question-tags">
            Tags: {% for tag in question.tags.all %} 
                    <a href="{% url 'tag' tag %}">{{ tag }} </a> 
                  {% endfor %}
          </div>
        </div>
        <div class="col-2">
          <a href="{% url 'question' question.id %}">answer({{ question.answersCount }})</a>
        </div>
      </div>
    </div>
  </div>
</div>

