{% extends 'include/base.html' %}

{% load static %}
{% load my_filter %}

{% block content %}
<div class="row">
  <div class="col">
    <legend>New questions</legend>
  </div>
  <div class="col">
    <legend><a href="{% url 'hot' %}">Hot questions</a></legend>
  </div>
</div>
  {% for question in questions.all %}
    {% include 'include/question.html' %}
  {% endfor %}
  
  {% include 'include/pagination.html' %}

  {% block jscode %}
    <script src='{% static "js/votes.js" %}'></script>
  {% endblock jscode %}

{% endblock content %}
            