{% extends 'include/base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block content %}
<div>
    
<form method="POST" action="/login/?next={{ redirect_to }}" novalidate>
    {% csrf_token %}

    
    <h1 class="h3 mb-3 font-weight-normal">Log in</h1>

    {% if error_message %}<span id="alert_message">{{ error_message }}</span>{% endif %}
    {% bootstrap_form form %}

    {% buttons %}
    <div class="row area-margin-bottom">
        <div class="col-2">
        
        </div>
        <div class="col-2">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </div>
    </div>
    {% endbuttons %}
    <div class="row">
        <div class="col-2">
            
        </div>
        <div class="col-3">
            <a href="{% url 'signup' %}">Create new account</a>
        </div>
    </div>
</form>
</div>
{% endblock content %}
