{% extends 'include/base.html' %}

{% load static %}

{% block content %}
    {% include 'include/question_wild.html' %}
    <hr>
    {% for answer in answers.all %}
        {% include 'include/answer.html' %}
    {% endfor %} 
    {% include 'include/pagination.html' %}
    <hr>
    <div class="row">
        <div class="col">
            <textarea class="area-margin-bottom" name="comment" cols="88" rows="3" placeholder="Enter your anwer here.."></textarea>
        </div>
        <div class="col-2">
            <button class="btn btn-lg btn-primary btn-block area-margin-bottom" type="submit">Answer</button>
        </div>
    </div>
{% endblock content %}
            