{% extends 'include/base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block content %}
    {% include 'include/question_wild.html' %}
    <hr>
    {% for answer in answers.all %}
        {% include 'include/answer.html' %}
    {% endfor %} 
    {% include 'include/pagination.html' %}
    <hr>
    <form class="form" method="POST" action="/question/{{ question.id }}/" novalidate>

        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button type="submit" class="page_btn btn btn-outline-secondary">Answer!</button>
        {% endbuttons %}
    </form>
{% endblock content %}
            